.cart{
    height: 500px;
    padding: 20px;
    background-color: bisque;
    position: sticky;
    top: 0;
    border-radius: 10px;
}

.btn-group button{
    margin-top: 10px;
}

.btn-1{
    color: green;
}

.btn-2{
    color: rgb(236, 113, 113);
}
