.ball{
    width: 300px;
    height: 450px;
    border: 1px solid rgb(216, 214, 214);
    border-radius: 10px;
    position: relative;
}

.ball img{
    width: 280px;
    height: 280px;
    /* margin: 20px auto; */
    padding: 9px;
}

.ball p {
    margin-left: 15px;
}

.ball-name{
    font-size: 21px;
    font-weight: bold;
}

.btn-cart{
    height: 35px;
    width: 100%;
    background: rgb(238, 190, 69);
    border-radius:0px 0px 10px 10px;
    border: none;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart:hover {
    background-color: yellowgreen;
}

.btn-text{
    margin-right: 5px;
}